.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
example/**
.github/**
tests/**
scripts/**
media/spreadsheet.js
media/spreadsheet.css
dist/**
*.vsix
debug.sh
*.csv
*.tsv
*.xlsx
*.xls
*.ods
*.dbf
*.fpt
*.dbt
*.sheet.json
